@charset "utf-8";
/**前端、研发、开发端**/
.task_addicon{ width: 14px; height: 14px; background: url(../images/pic/u2175.png) no-repeat; background-size: 14px 14px; display: inline-block; position: absolute; bottom: 10px; left: 5px; cursor: pointer;}
.Standard_icon{ width: 20px; height: 20px; background: url(../images/pic/u1000.png) no-repeat; background-size: 20px 20px; display: inline-block; position: absolute; right: 20px; cursor: pointer;}
.new_taskIcon{ width: 7px; height: 7px; background: url(../images/pic/u1077.png) no-repeat; background-size: 7px 7px; display: inline-block; position: absolute; right: -6px; top: 1px;}
.person_iconClose{ width: 18px; height: 18px; background: url(../images/pic/close_icon.png) no-repeat; background-size: 18px 18px; display: inline-block; cursor: pointer; vertical-align: middle;}
.Issue_tasksBtn{width: 120px;height: 30px;line-height: 30px; text-align: center; background: #09f; color: #fff; cursor: pointer; border: 1px solid #09f; border-radius: 3px;}
.Issue_tasksBtn:hover{ background: #33adff; border: 1px solid #33adff}
.projectHide_close{ width: 18px; height: 18px; background: url(../images/pic/close_icon.png) no-repeat; background-size: 18px 18px; display: inline-block; cursor: pointer; vertical-align: middle;}
.dailyrgt_projectHide{ position: absolute; top: 0px; left: 0px; width: 100%; background-color: #fff; z-index: 1;}
.project_labelW{ width: 70px; display: inline-block; text-align: right;}
.projectHide_Height textarea{ width: 85%; height: 65px; border: none; padding: 0px 2px; /*padding-left:35px;*/}
.projectHide_Height .project_bordern{ border: none; padding:0px 2px}
.vertical-alignTop{ vertical-align: top;}
.projectConduct_close{ width: 18px; height: 18px; background: url(../images/pic/close_icon.png) no-repeat; background-size: 18px 18px; display: inline-block; cursor: pointer; vertical-align: middle;}
.projectHide_Conduct{ position: absolute; top: 0px; left: 0px; width: 100%; background-color: #fff; z-index: 1;}
.projectHide_material{ position: absolute; top: 0px; left: 0px; width: 100%; background-color: #fff; z-index: 1;}
.material_closeDiv{ width: 130px; position: fixed; right: 20px; top: 60px; z-index: 1;}
.material_close{ width: 18px; height: 18px; background: url(../images/pic/close_icon.png) no-repeat; background-size: 18px 18px; display: inline-block; cursor: pointer; vertical-align: middle;}
.material_Kuai li{ width: 20%; float: left;}
.material_Bao{ width: 80px; text-align: center; font-size: 12px; }
.material_Bao img{ width: 49px; height: 54px;}
.material_Kuai{ border-bottom: 1px dotted #e4e4e4; padding-bottom: 15px;}
.projectHide_complete{ position: absolute; top: 0px; left: 0px; width: 100%; background-color: #fff; z-index: 1;}
.complete_kuai{ border-bottom: 1px dotted #e4e4e4; padding-bottom: 5px;}
.complete_close{ width: 18px; height: 18px; background: url(../images/pic/close_icon.png) no-repeat; background-size: 18px 18px; display: inline-block; cursor: pointer; vertical-align: middle;}
.Check_acceptanceHide{ position: absolute; top: 0px; left: 0px; width: 100%; background-color: #fff; z-index: 1030;}
.acceptance_close{ width: 18px; height: 18px; background: url(../images/pic/close_icon.png) no-repeat; background-size: 18px 18px; display: inline-block; cursor: pointer; vertical-align: middle;}
.Task_descriptionDiv{ border-bottom: 1px solid #e4e4e4; border-bottom: 10px; padding-top: 10px;}
.acceptance_process_DivL{ min-height: 80px; margin-right:80px;}
.acceptance_process_DivR{ min-height: 80px;}
.material_BaoImg img{ width:49px; height:54px; float:left; margin-right:5px;}
.process_icon{ width: 14px; height: 14px; background: url(../images/pic/u1409.png) no-repeat; background-size: 14px 14px; display: inline-block; position: absolute; top: 3px; right: 5px;}
.acceptance_Comment,.acceptance_CommentSZ{ height: 150px; position: relative; border-top: 1px dotted #e4e4e4;}
.acceptance_Comment textarea{ width: 100%; height: 85px; border: none;}
.acceptance_CommentSZ textarea{ width: 100%; height: 100px; border: none;}
.acceptance_Comment .acceptance_fen{ border: none;}
.transfer_close{ width: 18px; height: 18px; background: url(../images/pic/close_icon.png) no-repeat; background-size: 18px 18px; display: inline-block; cursor: pointer; vertical-align: middle; position: absolute; top: 10px; right: 10px;}
.transfer_Hide{ width: 100%; height: 210px; background-color: #fff; position: absolute; bottom: -500%; overflow-y:auto}
.transfer_w{ width: 55px; display: inline-block; text-align: right;}
.transfer_BtnDiv{ position: absolute; bottom: 10px; right: 10px;}
.Check_acceptanceClick{ cursor: pointer;}


/**开发端2.0**/
.width202{ width: 202px;}
.uiTab1condiv_title01,.uiTab1condiv_title02{ margin-bottom: 2px;}
.uiTab1condiv_title01 input{ border: none;}
.task-Yes{ width: 14px; height: 14px; background: url(../images/pic/u1360.png) no-repeat; background-size: 14px 14px; display: inline-block; margin-top: 7px; cursor: pointer;}
.task-No{ width: 14px; height: 14px; background: url(../images/pic/u1362.png) no-repeat; background-size: 14px 14px; display: inline-block; cursor: pointer;}
.dailyrgt_projectHide .uiTitle2,.projectHide_Conduct .uiTitle2,.projectHide_complete .uiTitle2{ font-size: 12px;}
.new_TabIcon{ width: 7px; height: 7px; background: url(../images/pic/u1077.png) no-repeat; background-size: 7px 7px; display: inline-block; position: absolute; right: 5px; top: 0px;}
.new_TabIconY{ width: 7px; height: 7px; background: url(../images/pic/u1077.png) no-repeat; background-size: 7px 7px; display: inline-block; position: absolute; right: 0px; top: 6px;}
.ml2{ margin-left: 2px;}
.Check_acceptanceHide .uiTitle3{ font-size: 12px;}
.task_Endicon{ width: 20px; height: 20px; background: url(../images/pic/u3911.png) no-repeat; background-size: 20px 19px; display: inline-block; position: absolute; left: 0px; bottom: 0px; cursor: pointer;}
.dailyrgt_EndtaskHide{ position: absolute; top: 0px; left: 0px; width: 100%; background-color: #fff; z-index: 1;}
.EndtaskHide_close{ width: 18px; height: 18px; background: url(../images/pic/close_icon.png) no-repeat; background-size: 18px 18px; display: inline-block; cursor: pointer; vertical-align: middle;}
.border-bottdo{ border-bottom: 1px dotted #e4e4e4;}
.projectHide_Completed{ position: absolute; top: 0px; left: 0px; width: 100%; background-color: #fff; z-index: 1;}
.Completed_close{ width: 18px; height: 18px; background: url(../images/pic/close_icon.png) no-repeat; background-size: 18px 18px; display: inline-block; cursor: pointer; vertical-align: middle;}
.Completed_btn{ cursor: pointer;}
.uiTab1condiv_title02 select{ width: 65px;}


/***2017-07-05**/
.transfer_w_icon{ width:14px; height:14px; background:url(/images/pic/u1398.png) no-repeat; display:inline-block; background-size:14px 14px; margin-top:7px;}
.mr38{ margin-right:38px;}
.project_bordern input[type=text]{ padding: 0 2px;}